services:
  - type: web
    name: n8n-geospatial
    runtime: docker
    region: frankfurt
    plan: free
    branch: main
    numInstances: 1
    healthCheckPath: /healthz
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DB_TYPE
        value: postgresdb

      # Render fournit bien ça (URL privée "internal")
      - key: DATABASE_URL
        fromDatabase:
          name: n8nDB
          property: connectionString

      # Important: /healthz est désactivé par défaut dans n8n
      - key: QUEUE_HEALTH_CHECK_ACTIVE
        value: "true"

      # n8n écoute
      - key: N8N_LISTEN_ADDRESS
        value: 0.0.0.0
      - key: PORT
        value: "5678"
      - key: N8N_PORT
        value: "5678"

      # Remplace ton ancien DB_POSTGRESDB_SSL (mauvais nom)
      - key: DB_POSTGRESDB_SSL_ENABLED
        value: "false"   # mets "true" si tu as une erreur SSL

      - key: DB_POSTGRESDB_SCHEMA
        value: public

      - key: N8N_LOG_LEVEL
        value: debug

      - key: GENERIC_TIMEZONE
        value: Africa/Ouagadougou
      - key: TZ
        value: Africa/Ouagadougou

      - key: N8N_DEFAULT_LOCALE
        value: fr

      - key: N8N_ENCRYPTION_KEY
        generateValue: true

databases:
  - name: n8nDB
    region: frankfurt
    plan: free